### Intellij ###

.DS_Store

# User-Specific Stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-church files:
.idea/**/datasSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

/out/

*.iml
modules.xml
.idea/misc.xml
*.ipr


### Java ###

# Compiled Class File
.class

# Log file
.log

# Package Files #
*.jar
*.war
*.zip
*.tar.gz
*.rar
